/* Base body styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Link styles */
a,
a:hover,
a:visited {
    color: #0071bc;
}

/* Full viewport map container */
#map {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

/* Header styles */
#header {
    position: relative;
    width: 100%;
    z-index: 5;
}

#header h1,
#header h2,
#header p {
    margin: 0;
    padding: 1vh 2vw;
    text-align: center;
}

/* Footer styles */
#footer {
    position: relative;
    width: 100%;
    min-height: 5vh;
    padding: 1vh 0 2vh;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    z-index: 5;
}

/* Story features padding */
#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.hidden {
    visibility: hidden;
}

.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 33vw;
    margin-left: 5vw;
}

.righty {
    width: 33vw;
    margin-left: 62vw;
}

.fully {
    width: 100%;
    margin: auto;
}
/* Theme-specific styles */
.light {
    color: #000;
    background-color: #fafafa;
}

.dark {
    color: #fafafa;
    background-color: #444;
}

.step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}

.step.active {
    opacity: 0.9;
}

.step div {
    padding: 10px 25px;
    line-height: 20px;
    font-size: 13px;
}

.step img {
    width: 100%;
}

/* Responsive layouts for steps */
@media (max-width: 750px) {

    .centered,
    .lefty,
    .righty,
    .fully {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}

/* Scroll to explore more on bottom of page for user tips*/
.scroll-prompt {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
    z-index: 1000;
    cursor: pointer;
    color: #4424ba; 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-30px);
    }
    60% {
        transform: translateX(-50%) translateY(-15px);
    }
}

/* CUSTOM MARKERS FOR CLIMATE-GENT-CASCADE CHAPTER  */
.custom-marker {
    cursor: pointer;
    border-radius: 50%;  
    border: 2px solid white; 
    box-shadow: 0 0 6px #000;
}


